<h1 class="text-center mb-4">IPTV Channel List</h1>
<div class="my-2 card">
    <div class="card-header">
        <p class="text-center"></p>
    </div>
    <div class="card-body">
        <form method="post" action="/update-channels-list">
            <button type="submit" class="btn btn-primary">Cập nhật danh sách kênh</button>
        </form>
    </div>

</div>

<div class="row">
    {{#each paginatedData.items}}
    <div class="col-1">
         
         {{this.name}}

    </div>
    {{/each}}
</div>
{{!-- <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Channel Name</th>
            <th>Category</th>
            <th>Link</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each paginatedData.items}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.name}} <img src="{{this.logo}}" width="20" height="20" /> </td>
            <td>{{this.group}}</td>
            <td><a href="{{this.url}}" target="_blank">Go to</a></td>
            <td><a class="btn btn-danger" href="/play/{{this.id}}">Play</button></td>
        </tr>
        {{/each}}
    </tbody>
</table> --}}