<div class="row">
    {{#each paginatedData.items}}
    <div class="col-6 col-md-4 col-lg-3">
        <div class="channel-card" onclick="play({{this.id}})">
            {{#if this.logo}}
            <div class="channel-icon" style="background-image:url({{this.logo}});">
            </div>
            {{else}}
            <div class="channel-icon" style="background-color: #90a4ae;">C</div>
            {{/if}}
            <div>{{this.name}}</div>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">
    <div class="col text-center">
        {{#ifCond paginatedData.page '<=' 1}}
        <a href="#" class="previous round">&#8249;</a>
        {{else}}
        <a href="/?page={{math paginatedData.page '-' 1}}&pageSize={{paginatedData.pageSize}}" class="previous round">&#8249;</a>
        {{/ifCond}}
        <a href="/?page={{math paginatedData.page '+' 1}}&pageSize={{paginatedData.pageSize}}" class="next round">&#8250;</a>
    </div>
</div>

<script>
    function play(channelId){
        const urlParams = new URLSearchParams(new URL(window.location.href).search);
        const page = urlParams.get('page');
        const pageSize = urlParams.get('pageSize');

        if(page && pageSize)
            location.href = `/play/${channelId}?page=${page}&pageSize=${pageSize}`;
        else
            location.href = `/play/${channelId}`;
    }
</script>