<html>

<head>
    <title>IPTV Player</title>
    <style>
        html {
            visibility: hidden;
            scrollbar-width: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark px-3 sticky-top py-3">
        {{#ifCond enableBackBtn '===' true}}
        <!-- Back -->
        <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-back" title="Go back">
            <i class="fa fa-arrow-left"></i>
        </button>
        {{/ifCond}}

        <!-- Các chức năng chính -->
        <div class="d-flex flex-wrap align-items-center">
            <button class="btn btn-sm me-2 p-2 text-danger btn-func" id="btn-favorite"
                title="{{t 'favorite-list-btn'}}">
                <i class="fa fa-heart"></i>
            </button>
            <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-all-channels"
                title="{{t 'all-channels-btn'}}">
                <i class="fa fa-tv"></i>
            </button>
            <div class="dropdown">
                <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-categories" data-bs-toggle="dropdown"
                    aria-expanded="false" title="{{t 'categories-btn'}}">
                    <i class="fa fa-list"></i>
                </button>
                <ul class="dropdown-menu bg-dark categories-dropdown-menu" aria-labelledby="btn-categories">
                    {{#each categories}}
                    <li><a class="dropdown-item text-white" href="#">{{this.categoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <!-- Bên phải: search và playlist -->
        <div class="ms-auto d-flex align-items-center">
            <!-- Search -->
            <input class="form-control form-control-sm me-2" id="mainSearch" type="search"
                placeholder="{{t 'main-search-input-placeholder'}}" aria-label="Search">

            <!-- Chọn playlist -->
            <select class="form-select form-select-sm me-2" id="selectPlaylist" style="width: 150px;">
                {{#each playlists}}
                {{#if selectedPlaylistId}}
                <option>Choose playlist</option>
                {{/if}}
                {{#ifCond this.id '===' ../selectedPlaylistId}}
                <option value="{{this.id}}" selected>{{this.name}}</option>
                {{else}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/ifCond}}
                {{/each}}
            </select>

            <button class="btn btn-sm me-2 p-2 text-white btn-func" data-bs-toggle="modal"
                data-bs-target="#addM3U8Modal" title="{{t 'add-m3u-link-btn'}}">
                <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-about" title="{{t 'about-btn'}}">
                <i class="fa fa-info"></i>
            </button>
            <button class="btn btn-sm me-2 p-2 text-white btn-func" id="settings" title="{{t 'settings-btn'}}"
                data-bs-toggle="modal" data-bs-target="#settingsModal" title="Add M3U link">
                <i class="fas g fa-ellipsis-v"></i>
            </button>
        </div>
    </nav>
    {{#ifCond paginatedData.favorited '===' true}}
    <div class="container-fluid mt-3" id="content" favorite-content="true">
        {{{body}}}
    </div>
    {{else}}
    <div class="container-fluid mt-3" id="content" favorite-content="false">
        {{{body}}}
    </div>
    {{/ifCond}}

    <!-- Modal -->
    <div class="modal fade" id="addM3U8Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">{{t 'm3u-modal-title'}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label>{{t 'm3u-modal-name-lb'}}</label>
                    <input type="text" class="form-control" id="m3u8name" value="" placeholder="Example" required />
                    <label class="mt-2">{{t 'm3u-modal-link-lb'}}</label>
                    <input type="text" class="form-control" id="m3u8link" value=""
                        placeholder="https://example.com/index.m3u" required />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnM3u8Submit" class="btn btn-sm btn-success">{{t 'submit-modal-btn'}}</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{t 'close-modal-btn'}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">{{t 'settings-modal-title'}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label>{{t 'settings-modal-reset-lb'}}</label>
                        <button type="button" id="btnReset" class="btn btn-sm btn-danger mb-3">{{t 'settings-modal-reset-btn'}}</button>
                    </div>

                    <div class="form-group mb-3">
                        <label>{{t 'settings-modal-select-language'}}</label>
                        <select id="selectLanguage">
                            {{#each consts.APP_LANGUAGES}}
                            {{#ifCond this.code '===' ../selectedLanguage}}
                                <option value="{{this.code}}" selected>{{this.text}}</option>
                            {{else}}
                                <option value="{{this.code}}">{{this.text}}</option>
                            {{/ifCond}}
                            {{/each}}        
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSettingsSubmit" class="btn btn-sm btn-success">{{t 'submit-modal-btn'}}</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{t 'close-modal-btn'}}</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>