<html>

<head>
    <title>IPTV Player</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        html {
            visibility: hidden;
        }

        .btn-func {
            background-color: #393434
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark px-3 sticky-top py-3">
        <!-- Back -->
        <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-back">
            <i class="fa fa-lg fa-arrow-left"></i>
        </button>

        <!-- Các chức năng chính -->
        <div class="d-flex flex-wrap align-items-center">
            <button class="btn btn-sm me-2 p-2 text-danger btn-func" id="btn-favorite">
                <i class="fa fa-lg fa-heart"></i>
            </button>
            <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-all-channels">
                <i class="fa fa-lg fa-tv"></i>
            </button>
            <button class="btn btn-sm me-2 p-2 text-white btn-func" id="btn-categories">
                <i class="fa fa-lg fa-list"></i>
            </button>
        </div>

        <!-- Bên phải: search và playlist -->
        <div class="ms-auto d-flex align-items-center">
            <!-- Search -->
            <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">

            <!-- Chọn playlist -->
            <select class="form-select form-select-sm me-2" id="selectPlaylist" style="width: 150px;">
                <option>Choose playlist</option>
                {{#each playlists}}
                <option value="{{this.id}}">{{this.urlOrFileName}}</option>
                {{/each}}
            </select>

            <button class="btn btn-sm p-2 text-white btn-func" data-bs-toggle="modal" data-bs-target="#addM3U8Modal">
                <i class="fa fa-lg fa-plus"></i>
            </button>
        </div>
    </nav>
    
    <div class="container-fluid mt-3">
        {{{body}}}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addM3U8Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Enter M3U8 link</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="m3u8link" value="" placeholder="" required />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnM3u8Submit" class="btn btn-sm btn-success">Submit</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Playlists Modal -->
    <div class="modal fade" id="PlaylistsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Select M3U Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <u>
                        {{#each playlists}}
                        <li class="text-white m3u-url-file" data-id="{{this.id}}">{{this.urlOrFileName}}</li>
                        {{/each}}
                    </u>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</body>

</html>