<div class="row mb-3">
    <div class="col-12 text-center">
        {{#if paginatedData.favorited}}
        <h4>{{t 'channels-favorite-list-title' }}</h4>
        <p>
        {{#ifCond paginatedData.searchKeyword '!==' null}}
        <span>{{t 'channels-search-result-title' }}: "{{paginatedData.searchKeyword}}"</span>;
        {{/ifCond}}
        {{#ifCond paginatedData.selectedCategory '!==' 'all'}}
        <span>{{t 'channels-category-title' }}: "{{paginatedData.selectedCategory}}"</span>
        {{/ifCond}}
        </p>
        {{else}}
        <h4>{{t 'channels-list-title' }}</h4>
        <p>
        {{#ifCond paginatedData.searchKeyword '!==' null}}
        <span>{{t 'channels-search-result-title' }}: "{{paginatedData.searchKeyword}}"</span>;
        {{/ifCond}}
        {{#ifCond paginatedData.selectedCategory '!==' 'all'}}
        <span>{{t 'channels-category-title' }}: "{{paginatedData.selectedCategory}}"</span>
        {{/ifCond}}
        </p>
        {{/if}}
    </div>
</div>
<div class="row">
    {{#each paginatedData.items}}
    <div class="col-6 col-md-4 col-lg-3">
        <div class="channel-card" data-id="{{this.id}}">
            {{#if this.logo}}
            <div class="channel-icon" style="background-image:url({{this.logo}});">
            </div>
            {{else}}
            <div class="channel-icon" style="background-color: #90a4ae;">C</div>
            {{/if}}
            <div>{{this.name}}</div>
        </div>
    </div>
    {{/each}}
</div>

<div class="row" id="pagination">
    <div class="col text-center">
        {{#ifCond paginatedData.page '<=' 1}} <a href="#" class="previous round">&#8249;</a>
            {{else}}
            <a href="#" class="previous round"
                onclick="getPagination({{math paginatedData.page '-' 1}}, {{ paginatedData.pageSize }});">&#8249;</a>
            {{/ifCond}}

            <a href="#" class="next round"
                onclick="getPagination({{math paginatedData.page '+' 1}}, {{ paginatedData.pageSize }});">&#8250;</a>
    </div>
</div>